/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
  font-size: 30px;
}
a:hover{
  text-decoration: underline;
  
}
/******************************************
/* NAV
/*******************************************/
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.navbar {
  opacity: 0.95;
  padding-top: 30px;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  position: relative;
  height: 50px;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 25px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 17px;
  left: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 10px; */
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: black;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 50px;
  background: rgb(195	174	154);
  height: 45vh;
  max-width: 260px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 30px;
  transition: transform 0.8s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;
}

.navbar .menu-items li {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Work Sans";
  text-transform: lowercase;
}



.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}
ul{
  list-style: none;
}
.left, .right{
  width: 50%;
  float: left;
  margin-top: 30px;
}
.left img{
  width: 80%;
  padding-left: 40px;
}
footer{
  clear: both;
}
.right{
  display:flex;
  align-items: center;
  
  height: 100%;
}
.right img{
  width: 80%;
  padding-right: 40px;
}
/******************************************
/* LAYOUT
/*******************************************/

html{
  font-size: 62.5%;
}
body{
  
  width: 100%;
  height: 70vh;
  
}
h1{
  color: black;
  font-size: 60px;
  font-family: "Bellefair";
  font-weight: 200;
  margin-top: -.05px;
 
  text-align: center;
}
h2{
  font-size: 20px;
  font-style:italic;
  margin-top:-1px;
  font-family: "IM Fell Great Primer";
  color: black;
  text-align: center;
  
}
#links{
  text-transform: uppercase;
  color: black;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  text-align: center;
  font-family: "Work Sans";
  font-weight: 400;
  
}
#links a{
  
}
#links>a+a{
  margin-left: 40px;
}
i{
  color: black;
  padding-top: 30px;
  padding-right: 20px;
  text-align: right;
  width: 100%;
}
.gallery{
  display: flex;
  justify-content: space-evenly;
padding-top: 25px;
}
.gallery img{
  width: 20%;
}
p{
  font-size: 2rem;
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
footer{
  font-size: 1.5rem;
  padding-left: 5%;
  padding-top: 1%;
}
/******************************************
/* FORM
/*******************************************/
form {
  margin: 0 0 2rem 0;
}

  form > :last-child {
    margin-bottom: 0;
  }

  form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
  }

    form > .fields > .field {
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      padding: 1.5rem 0 0 1.5rem;
      width: calc(100% - 1.5rem);
    }

      form > .fields > .field.half {
        width: calc(50% - 0.75rem);
      }

      form > .fields > .field.third {
        width: calc(100%/3 - 0.5rem);
      }

      form > .fields > .field.quarter {
        width: calc(25% - 0.375rem);
      }

  @media screen and (max-width: 1000px) {
.rightForm{
  display: none;
}
.wrapper, .inner, .fields, form{
  height: 80%;
  border: 2px solid green;
}
.field{
  font-size: 8rem;
}
h2{
  font-size: 6rem;
}
label{
  font-size: 5rem;
}
input{
  height: 60px;
}
.leftForm{
  width: 90%;
  height: 85%;
  border: 2px solid red;
}
    form > .fields {
      width: calc(100% + 3rem);
      margin: -1.5rem 0 2rem -1.5rem;
    }

      form > .fields > .field {
        padding: 1.5rem 0 0 1.5rem;
        width: calc(100% - 1.5rem);
      }

        form > .fields > .field.half {
          width: calc(100% - 1.5rem);
        }

        form > .fields > .field.third {
          width: calc(100% - 1.5rem);
        }

        form > .fields > .field.quarter {
          width: calc(100% - 1.5rem);
        }
        #crab, #seaweed{
          display: none;
        }
        .gallery{
          height: 70%;
          width: 100%;
          border: 2px solid pink;
          
        }
        #scallop{
          object-fit: cover;
          height: 100%;
          width: 80%;
        }
        p{
          font-size: 5rem;
          padding-top: 20px;
        }
        header{
          padding-bottom: 30px;
          height: 10%;
          border: 2px solid red;
        }
        footer{
          font-size: 4rem;
          /* padding-top: 10%; */
          height: 5%;
          border: 2px solid pink;
        }
        body{
          height: 100%;
          border: 2px solid green;
        }
        html{
          height: 100%;
        }
        h1{
          font-size: 10rem;
        }
        main{
          height: 85%;
          border: 2px solid purple;
        }
        .left, .right{
          width: 100%;
        }
        .left{
          height: 40%;
          border: 2px solid red;
          display: flex;
          justify-content: center;
        }
        .left img{
          object-fit: cover;
          height: 100%;
          width: 80%;
        }
        .right{
          height: 40%;
          border: 2px solid blue;
        }

  }

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.825rem;
  text-decoration: none;
  width: 100%;
}

  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  input[type="search"]:invalid,
  input[type="url"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

select {
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 2.75rem;
  padding-right: 2.75rem;
  text-overflow: ellipsis;
}

  select:focus::-ms-value {
    background-color: transparent;
  }

  select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 2.4rem;
    padding-right: 0.75rem;
    position: relative;
    margin-bottom: 0;
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 1px;
      content: '';
      display: inline-block;
      font-size: 0.8rem;
      height: 1.65rem;
      left: 0;
      line-height: 1.65rem;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65rem;
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c';
  }

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1.0;
}

:-moz-placeholder {
  opacity: 1.0;
}

::-moz-placeholder {
  opacity: 1.0;
}

:-ms-input-placeholder {
  opacity: 1.0;
}

label {
  color: #000000;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  border-color: rgba(0, 0, 0, 0.2);
}

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border-color: #47D3E5;
    box-shadow: 0 0 0 1px #47D3E5;
  }

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.2)' /%3E%3C/svg%3E");
}

  select option {
    color: #000000;
    background: #ffffff;
  }

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #000000;
}

  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    border-color: rgba(0, 0, 0, 0.2);
  }

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #47D3E5;
  box-shadow: 0 0 0 1px #47D3E5;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75) !important;
}

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.75) !important;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.75) !important;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75) !important;
}
.left .wrapper{
  padding: 3rem;
}
.inner h2{
  font-family: serif;
  font-style: normal;
  font-weight: 200;
}
label{
  font-size: 1.5rem;
}
#submit{
  border: none;
  font-size: 1.5rem;
  background-color: rgb(195	174	154);
  
  padding: 1rem 2rem;
  
}
ul{
  margin: 0 -4rem;
}